html,body{
  margin:0;
  padding:0;
}

body {
  text-align: center;
  background-size: cover;
  /* background: url("http://www.trbimg.com/img-595e7966/turbine/ct-bill-murray-caddyshack-restaurant-0707-biz-20170706") center; */
  background-attachment: fixed;
}

h1 {
  color: #f28e95;
  background: #8b9d83;
  font-size: 60px;
  width: 400px;
  margin: auto;
}

span {
  color: #eee8e1;
  width: 200px;
  margin: auto;
  font-size: 40px;
  color: #f28e95;
  background: #8b9d83;
}

/* #totalContainer {
  width: 600px;
  margin: auto;
  background: url(https://images-na.ssl-images-amazon.com/images/I/71ZKdH3RXgL._SL1079_.jpg);
} */

.card {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  margin: 5px 20px;
  animation: rollBall 5s 1;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card div {
    height: 100px;
    width: 100px;
    position: absolute;
    backface-visibility: hidden;
  }

@keyframes rollBall {
    from {left: 800px;}
    to {left: 0px;}
    from {transform: rotate(720deg);}
    to {transform: rotate(0deg);}
}
.front {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(img/caddyshack.png);
  background-size: cover;
  border-radius: 50%;

}

.back {
  width: 100px;
  height: 100px;
  position: absolute;
  /* background-image: url(img/billBush.png); */
  background-size: cover;
  border: 4px #27222e solid;
  border-radius: 50%;

  /* box-shadow: 4px 4px 4px #eee8e1; */
  transform: rotateY( 180deg );
}

.flip {
  transform: rotateY(180deg);
}
