html,body{
  margin:0;
  padding:0;
}

body {
  text-align: center;
  background-size: cover;
  /* background: url("http://www.trbimg.com/img-595e7966/turbine/ct-bill-murray-caddyshack-restaurant-0707-biz-20170706") center; */
  background-attachment: fixed;
  font-family: 'Fascinate', cursive;
  text-shadow: -1px 0 #27222E, 0 1px #27222E, 1px 0 #27222E, 0 -1px #27222E;
}

h1 {
  color: #DB6699;
  background: #679289;
  font-size: 60px;
  width: 900px;
  margin: auto;
  border-right: 6px solid #27222E;
  border-left: 6px solid #27222E;
  border-top: 6px solid #27222E;
  border-radius: 15px 15px 0 0;
}

button {
    width: 300px;
    height: 60px;
    margin: 10px;
    background: #6E7E85;
    border: 2px solid #27222E;
    font-size: 16px;
    border-radius: 15px;
    color: #1C0F13;
    font-family: 'Fascinate', cursive;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #BBBAC6;
    color: #E2E2E2;
}

button:focus {
  outline:0;
}

#playerturncontainer {
  width: 900px;
  margin: auto;
  border-right: 6px solid #27222E;
  border-left: 6px solid #27222E;
  background: #679289;
}

#gamecontainer {
  width: 900px;
  margin: auto;
  background: #679289;
  border-right: 6px solid #27222E;
  border-left: 6px solid #27222E;
  border-bottom: 6px solid #27222E;
  border-radius: 0 0 15px 15px;
}

span {
  color: #F3DE8A;
  width: 800px;
  margin: auto;
  font-size: 40px;

  background: #679289;
}

.card {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  margin: 5px 20px;
  animation: rollBall 5s 1;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card div {
    height: 100px;
    width: 100px;
    position: absolute;
    backface-visibility: hidden;
  }

@keyframes rollBall {
    from {left: 800px;}
    to {left: 0px;}
    from {transform: rotate(720deg);}
    to {transform: rotate(0deg);}
}
.front {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(img/caddyshack.png);
  background-size: cover;
  border-radius: 50%;

}

.back {
  width: 100px;
  height: 100px;
  position: absolute;
  /* background-image: url(img/billBush.png); */
  background-size: cover;
  border: 4px #27222e solid;
  border-radius: 50%;

  /* box-shadow: 4px 4px 4px #eee8e1; */
  transform: rotateY( 180deg );
}

.flip {
  transform: rotateY(180deg);
}
